{erl_opts, [debug_info]}.
{deps, [
    lager,
    ibrowse,
    eper,
    {seestar, ".*",{git, "git@github.com:tigertext/seestar.git",{tag, "0.1.1"}}},
    {epocxy, ".*", {git, "git@github.com:duomark/epocxy.git", {tag, "0.9.8"}}},
    {vbisect, ".*", {git, "git@github.com:jaynel/vbisect.git", {tag, "0.1.2"}}}
]}.

{relx, [{release, { integrations, "0.1.0" },
         [integrations,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
